.paintingMB{
    height:1080px;
    width:1920px;
  }
  
  //1850 by 1167
  //400 bt 252
  .store{
    background-image: url("");
    width:1920px;
    height:1080px;
    position: fixed;
    top: 250px;
    left: 490px;
    transform: translate(-50%, -50%);
    display: flex;
    animation: erase 5s infinite;
    overflow:hidden;
    clip-path: polygon(0% 89%, 0% 89%, 0 89%, 0 100%, 0% 100%, 0% 89%, 0% 79%);
  }
  /* @keyframes erase{
  0%{clip-path: polygon(0 12%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 53%, 100% 23%, 100% 0, 0 0);}
  10%{clip-path: polygon(0 12%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 53%, 100% 23%, 100% 0, 0 0);}
  16%{clip-path: polygon(100% 11%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 53%, 100% 23%, 100% 0, 100% 0);}
  18%{clip-path: polygon(100% 12%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 53%, 100% 23%);}
  19%{clip-path: polygon(100% 12%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 23%, 100% 23%);}
  25%{clip-path: polygon(0 12%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 23%, 0 22%);}
  27%{clip-path: polygon(0 12%, 0 12%, 0 51%, 0 84%, 0 100%, 52% 100%, 100% 100%, 100% 80%, 100% 23%, 0 22%);}
  28%{clip-path: polygon(0 44%, 0 45%, 0 100%, 52% 100%, 100% 100%, 100% 46%, 100% 23%, 0 22%);}
  34%{clip-path: polygon(100% 42%, 0 44%, 0 100%, 52% 100%, 100% 100%, 100% 46%, 100% 23%, 100% 22%);}
  35%{clip-path: polygon(100% 42%, 0 44%, 0 100%, 52% 100%, 100% 100%, 100% 46%, 100% 46%, 100% 44%);}
  35.1%{clip-path: polygon(100% 42%, 0 44%, 0 100%, 52% 100%, 100% 100%, 100% 59%, 0 57%, 100% 59%);}
  37%{clip-path: polygon(100% 42%, 0 44%, 0 100%, 52% 100%, 100% 100%, 100% 59%, 0 57%, 100% 59%);}
  43%{clip-path: polygon(0 44%, 0 44%, 0 100%, 52% 100%, 100% 100%, 100% 59%, 0 57%, 0 57%);}
  46%{clip-path: polygon(0 72%, 0 72%, 0 89%, 0 100%, 100% 100%, 100% 59%, 0 57%);}
  52%{clip-path: polygon(100% 69%, 0 70%, 0 89%, 0 100%, 100% 100%, 100% 59%, 100% 60%);}
  53%{clip-path: polygon(100% 69%, 0 70%, 0 89%, 0 100%, 100% 100%, 100% 79%, 100% 79%);}
  55%{clip-path: polygon(100% 69%, 0 70%, 0 89%, 0 100%, 100% 100%, 100% 79%, 100% 79%);}
  61%{clip-path: polygon(0 69%, 0 70%, 0 89%, 0 100%, 100% 100%, 100% 79%, 0 79%);}
  62%{clip-path: polygon(0 79%, 0 89%, 0 89%, 0 100%, 100% 100%, 100% 79%, 0 79%);}
  64%{clip-path: polygon(0 79%, 0 89%, 0 89%, 0 100%, 100% 100%, 100% 79%, 0 79%);}
  70%{clip-path: polygon(100% 79%, 100% 89%, 0 89%, 0 100%, 100% 100%, 100% 79%, 100% 79%);}
  71%{clip-path: polygon(100% 89%, 100% 89%, 0 89%, 0 100%, 100% 100%, 100% 89%, 100% 79%);}
  73%{clip-path: polygon(100% 89%, 100% 89%, 0 89%, 0 100%, 100% 100%, 100% 89%, 100% 79%);}
  79%{clip-path: polygon(0% 89%, 0% 89%, 0 89%, 0 100%, 0% 100%, 0% 89%, 0% 79%);}
  } */
  .pencil{
    position: fixed;
    top: 110px;
    left: 0px;
    display: flex;
    transform: rotate(270deg);
  
    animation: penErase 30s linear infinite;
  }
  @keyframes penErase{
    0%{transform: rotate(-90deg);top: 110px;
    left: 0px;}
    5%{transform: rotate(0deg);top: 110px;
    left: 0px;}
    10%{transform: rotate(0deg);top: 110px;
    left: 0px;}
    16%{transform: rotate(0deg);top: 110px;
    left: 1920px;}
    19%{transform: rotate(180deg);top: 110px;
    left: 1920px;}
    25%{transform: rotate(180deg);top: 110px;
    left: 0px;}
    28%{transform: rotate(0deg);top: 180px;
    left: 0px;}
    34%{transform: rotate(0deg);top: 180px;
    left: 1920px;}
    37%{transform: rotate(180deg);top:180px;left:690px;}
    43%{transform: rotate(180deg);top: 180px;
    left: 0px;}
    46%{transform: rotate(0deg);top: 250px;
    left: 0px;}
    52%{transform: rotate(0deg);top: 250px;
    left: 1920px;}
    55%{transform: rotate(180deg);top: 250px;
    left: 1920px;}
    61%{transform: rotate(180deg);top: 250px;
    left: 0px;}
    64%{transform: rotate(0deg);top: 320px;
    left: 0px;}
    70%{transform: rotate(0deg);top: 320px;
    left: 1920px;}
    73%{transform: rotate(180deg);top: 320px;
    left: 1920px;}
    79%{transform: rotate(180deg);top: 320px;
    left: 0px;}
    85%{transform: rotate(270deg);top: 110px;
    left: 0px;}
  }
  .point{
    position:relative;
    top:5px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; 
    width: 0;
    height: 0;
  }

 